.outside-card {
    border-radius: 10px;
}

/* Cover image container styling */
.cover-image-container {
    position: relative;
    width: 100%;
    height: 250px;
}

/* Cover image styling */
.cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Profile image container styling */
/* Profile image container styling */
.profile-image-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 6px solid #B6174B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;  /* Ensure the image doesn't overflow the container */
}

.profile-image {
    width: 100%;  /* Ensure the image fills the container's width */
    height: 100%; /* Ensure the image fills the container's height */
    object-fit: cover; /* Make the image cover the entire container */
    border-radius: 50%; /* Keep the image circular */
    
}

/* Additional styling */
.username {
    font-size: 28px;
    font-weight: 700;
}

.email-button {
    font-weight: 500;
    color: #007bff;
}

.full-name,
.location {
    color: #666;
    margin: 5px 0;
}

.bio {
    font-size: 16px;
    margin: 15px 0;
    color: #333;
}

.website {
    font-size: 15px;
    color: #007bff;
    margin-bottom: 15px;
}

/* Profile.css */
.mission-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.mission-card.low {
    background-color: #d4edda; /* Light green for low severity */
    border-color: #c3e6cb; /* Slightly darker green for border */
}

.mission-card.medium {
    background-color: #fff3cd; /* Light yellow for medium severity */
    border-color: #ffeeba; /* Slightly darker yellow for border */
}

.mission-card.high {
    background-color: #f8d7da; /* Light red for high severity */
    border-color: #f5c6cb; /* Slightly darker red for border */
}

.mission-card.critical {
    background-color: #f5c6cb; /* Darker red for critical severity */
    border-color: #f1b0b7; /* Slightly darker red for border */
}

