/* Dashboard.css */

/* General container styling */
#dashboard-container {
    padding: 20px;
    width: 100%;
    max-width: auto;
    min-width: 0;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Optional: Add a semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 20px 20px auto;
    /* margin-top: 60px; */
    flex-grow: 1;
    /* Make the container grow to fill the available space */
    display: flex;
    flex-direction: row;
}

/* Adjustments for the map container */
#EventsMapContainer {
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
}

#ReportWidgetContainer {
    margin-bottom: 15px;
}

#userArea {
    margin-top: 15px;
}

#guestArea {
    margin-top: 130px;
    margin-right: -100px;
}

/* Responsive adjustments */

@media (min-width: 768px) {

    #EventsMapContainer {
        margin-top: 100px;
        margin-left: -100px;
        width: 500px;
    }
}

@media (min-width: 473px) and (max-width: 768px) {

    #dashboard-container {

        padding: 20px;
        width: 100%;
        /* Ensure full width on smaller screens */
        max-width: 500px;
        /* Adjust max-width for smaller screens */
        min-width: 0;
        margin: 30px auto;
        /* Ensure some space from the top */
        margin-top: 150px;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }

    #userArea {
        margin-top: -60px;
    }

    #guestArea {
        margin-top: -90px;
        margin-right: 10px;
    }

    #EventsMapContainer {
        margin-bottom: -20px;
    }
}

@media (min-width: 0px) and (max-width: 473px) {
    #dashboard-container {

        margin-top: 28vh;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }
}