#icon:hover{
    transform: scale(1.05);
}

#icon{
    border: 1px solid black;
    border-radius: 20%;
    padding: 0.5px;
    box-shadow: 2px darkgray;
    height: 100px;
    width: 100px;
    gap:auto;
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 20px;
    align-items: center;
}

#icons_collection{
    gap: 6px;
}

#widgetTitle{
    letter-spacing: 2px;
}

.card-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .card-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .card-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
  }

  .footer-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .footer-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  
  .footer-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .footer-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 500ms, transform 500ms;
  }

#viewBtn {
  margin-top: 10px;
}