.tooltip-window {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(-10%); */
    white-space: none;               
    pointer-events: none;
    max-width: 350px;     
    max-height: 150px;        
    width: 100%;
    overflow: normal;                   
    z-index: 9999;                  
  }

  #hoverwindow{
    width: 350px;
  }
  
  /* Wrap text on smaller screens */
  /* @media (max-width: 992px) {            /* Adjust based on your desired breakpoint */
     /*  .tooltip-window {
      white-space: normal;              Allow text wrapping on screens smaller than laptops
    }
  } */
  
  @media (max-width: 768px) {
    .tooltip-window {
      font-size: 14px;                  /* Adjust font size for smaller screens */
      padding: 8px;
    }
  }
  
  @media (max-width: 576px) {
    .tooltip-window {
      font-size: 12px;
      padding: 6px;
      transform: translateX(-90%);
      /* max-width: 100px;                   Adjust the width to fit smaller screens */
    }
  }
  
  
  .more-detail-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  