/* MapModal.css */
.modal-dialog {
  height: 90vh; /* Use a percentage of the viewport height */
  max-height: 90vh; /* Prevent the modal from exceeding this height */
}

.modal-content {
  height: 100%; /* Ensure the content takes the full height of the modal */
}

.modal-body {
  height: calc(100% - 56px); /* Subtract the header and footer height */
  overflow: hidden; /* Hide scrollbars within the modal */
  padding: 0; /* Optional: Remove padding if needed */
}

#map{
  
}