/* Ensure the container is centered */
#signupCard {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-width: 800px;
    /* Set a max-width for larger screens */
    width: 100%;
    /* Make sure it takes the full width of its container */
    margin: auto;
    /* Center the container horizontally */
}

#signupTitle {
    margin-top: -10px;
    margin-bottom: 30px;
}

.required-field::after {
    content: ' *';
    color: red;
}

.img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}

/* Responsive adjustments */

@media (min-width: 768px) {
    #signupCard {
        padding: 10px;
        width: 100%;
        min-width: 600px;
        margin-top: 70px;
        margin-bottom: 20px;
    }
}

@media (min-width: 473px) and (max-width: 768px) {

    body,
    html {
        height: 100%;
        /* Make sure the body and html take full height */
        display: flex;
        align-items: center;
        /* Center vertically */
        justify-content: center;
        /* Center horizontally */
    }

    #signupCard {
        padding: 10px;
        width: 100%;
        max-width: 500px;
        min-width: 0;
        margin-top: 25%;
        margin-bottom: 20%;
    }

    #signupTitle {
        margin-top: -10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 0px) and (max-width: 473px) { 
}