body {
    background: linear-gradient(135deg, #CC0000, #3E0046, #000066, #FFCC00);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Set a max-width for larger screens */
    width: 100%; /* Make sure it takes full width on smaller screens */
}

/* Responsive adjustments */
@media (max-width: 576px) {
    #signup-container {
        padding: 10px;
    }

    .form-label {
        margin-top: 15px;
    }

    .img-preview {
        width: 80px;
        height: 80px;
    }
}

.img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}

#signup-title {
    margin-bottom: 40px;
    text-align: center;
}
