/* SOSButton.css */

#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #f7f9fc; */
    padding: 20px;
    text-align: center;
    max-width: 400px;
  }
  
  .heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  #LoginBtn {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .Link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .paragraph {
    margin-top: 10px;
    font-size: 16px;
  }
  
  #LoginBtn:hover{
    background-color: #188431;
  }

  .Link:hover{
      text-decoration: underline;
  }

  @media (min-width: 768px) {

    #loginContainer {
      min-width: 140px;
      max-width: 160px;
      margin-top: -80px;
      /* margin-left: 10px; */
      margin-right: -70px;
    }

  }

  @media (min-width: 473px) and (max-width: 768px) {
  }

  @media (min-width: 0px) and (max-width: 473px) {
}