
/* Profile card styling */
.profile-card {
    width: min-content;
    height: min-content;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

/* Profile image styling */
.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Responsive adjustments */

@media (min-width: 768px) {
    
    .profile-card {
        margin-right: -100px;
        margin-left: 20px;
        height: 450px;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 473px) and (max-width: 768px) {

    .welcome-text,
    .notlogin-text {
        font-size: 1.5rem;
    }

    .profile-card {
        padding: 15px;
        width: auto;
        height: min-content;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 0px) and (max-width: 473px) {

    .welcome-text,
    .notlogin-text {
        font-size: 1.5rem;
    }

    .profile-card {
        padding: 15px;
        width: auto;
        height: min-content;
    }

    .profile-img {
        width: 70px;
        height: 70px;
    }
}

